# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional OS-specific files
*.log
*.tgz

# Testing
coverage/
node_modules/
