@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
a {
  font-family: "quicksand", sans-serif;
}

button {
  font-family: "poppins", sans-serif;
}

.after-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 30%;
  background-color: currentColor;
  opacity: 0;
  transition: width 0.25s ease-in-out, opacity 0.15s ease-in-out 0.1s; /* fade in starts with slight delay */
}

.after-effect:hover::after,
.after-effect.active::after {
  width: 100%;
  opacity: 1;
}

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
